@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --logotype-negative: calc(-1 * var(--logotype))
}

@layer base {
  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
  }
}

.bg-primary-gradient {
  background-image: linear-gradient(180deg, theme(colors.brand-bg) -27%, #2831a800),
    radial-gradient(rgb(40 53 193) 100%, theme(colors.brand-bg));
  text-shadow: 0.5px -0.5px 3px #ffffff52;
  &:hover{
    filter: brightness(115%)
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

a:not(:hover)>#logotype {
  @apply transparent
}

a:hover>#logotype {
  animation-play-state: paused;
}

.icon-wrapper-parent:hover .icon-wrapper {
  transition: transform 1s ease;
  transform: translateX(0px);
  @apply bounce;
  animation-fill-mode: backwards; 
}

.bounce {
  animation: bounce 2s ease-out infinite;
  
}
@keyframes bounce {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(4px)
  }
}