@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --logotype-negative: calc(-1 * var(--logotype))
}

@layer base {
  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
  }
}

.bg-primary-gradient {
  background-image: linear-gradient(180deg, theme(colors.brand-bg) -27%, #2831a800),
    radial-gradient(rgb(40 53 193) 100%, theme(colors.brand-bg));
  text-shadow: 0.5px -0.5px 3px #ffffff52;
  &:hover{
    filter: brightness(115%)
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

a:not(:hover)>#logotype {
  @apply transparent
}

a:hover>#logotype {
  animation-play-state: paused;
}

.icon-wrapper-parent:hover .icon-wrapper {
  transition: transform 1s ease;
  transform: translateX(0px);
  @apply bounce;
  animation-fill-mode: backwards; 
}

.bounce {
  animation: bounce 2s ease-out infinite;
  
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(4px)
  }
}

.hero-image-wrapper {
  transform: rotateX(25deg);
  z-index: 2;
  path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
  }
}

.hero-image-animation {
  animation: hero-image 1400ms ease forwards 400ms;

  >.hero-image {
    transition: opacity 800ms ease 400ms;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  * {
    grid-area: 1 / 1 / 1 / 1;
  }
}

@keyframes hero-image {
  0% {
    transform: rotateX(25deg);
  }
  25% {
    transform: rotateX(25deg) scale(0.9);
  }
  60%, 100% {
    transform: none;
  }
}

.toggle-opacity {
  opacity: 1;
}

.glow-base {
  background: conic-gradient(from 230.29deg at 51.63% 52.16%, rgb(36, 0, 255) 0deg, rgb(0, 135, 255) 67.5deg, rgb(108, 39, 157) 198.75deg, rgb(24, 38, 163) 251.25deg, rgb(54, 103, 196) 301.88deg, rgb(105, 30, 255) 360deg);
  filter: blur(160px);
  transform: translateZ(0px);
  opacity: 0;
}
.glow {
  animation: glow 4100ms ease-out forwards 600ms;
}

@keyframes glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  100% {
    opacity: 0.2;
  }
}

.silhouette-base {
    path {
    stroke: theme(colors.white/5);
    stroke-opacity: .2;
  }
}

.silhouette {
  path {
    animation: silhouette 1200ms ease-out forwards 100ms;
  }
}

@keyframes silhouette {
  from {
    stroke-dashoffset: 1;
  }
  50%, 99% {
    stroke-dasharray: 0;
  }
  100% {
    visibility: hidden;
  }
}